//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.form-list li {
  padding-bottom: 20px;
  border-bottom: 1px solid #b1b4b6;
  padding-top: 20px;
}

.form-list li:first-child {
  padding-top: 0;
}
