{% extends "layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% block pageTitle %}
  Enter the company authentication code
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "type-of-form"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Companies House forms for limited companies</h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Incorporation</h2>
    </div>
    <section class="form">
      <div class="govuk-grid-column-one-half">
        <p>Register a private or public company (IN01)</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
          <a href="#" class="govuk-link">Download</a>
        </p>
      </div>
    </section>
    <section class="form">
      <div class="govuk-grid-column-one-half">
        <p>Give notice of subscribers: company with share capital</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
          <a href="#" class="govuk-link">Download</a>
        </p>
      </div>
    </section>
    <section class="form">
      <div class="govuk-grid-column-one-half">
        <p>Give notice of subscribers: company not having share capital</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
          <a href="#" class="govuk-link">Download</a>
        </p>
      </div>
    </section>
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Accounts</h2>
    </div>
    <section class="form">
      <div class="govuk-grid-column-one-half">
        <p>Change your company accounting reference date (AA01)</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
          <a href="#" class="govuk-link">Download</a>
        </p>
      </div>
    </section>
    <section class="form">
      <div class="govuk-grid-column-one-half">
        <p>File your dormant accounts (AA02)</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
          <a href="#" class="govuk-link">Download</a>
        </p>
      </div>
    </section>
    <section class="form">
      <div class="govuk-grid-column-one-half">
        <p>Notify a removal of auditors from office by resolution (AA03)</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
          <a href="#" class="govuk-link">Download</a>
        </p>
      </div>
    </section>
  </div>
</div>
{% endblock %}